<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .emailBody{
            background-color: rgb(117, 177, 255);
            color: rgb(0, 0, 0);
            padding: 20px;

        }
        h1,h2{
            color: rgb(0, 0, 0);
            text-align: center;
        }
        p{
            font-size: 1.2rem;
            text-align: center;
        }
    </style>
</head>
<body>
    <br class="emailBody">
        <h1>A New User, <%= user %>!</h1>
        <p>The following mail is sent to authenticate the new user, <%= user %> and stopping spam users under your institute.</br> We hope this is a true user and your business is booming!!</p>
        <h2>Your activation code is:</h2>
        <h2><%= code %></h2>
    </div>
</body>
</html>